<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<% if alert %>
  <p id="alert" class="alert alert-danger"><%= alert %></p>
<% end %>


<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="4000">
      <div class="carousel-caption d-none d-md-block">
        <h3>Our team</h3>
        <br>
        <% if !logged_in? %>
          <h4>Are there any health problems? We will help you!!!</h4>
          <h4>You should log In to make an appointment !</h4>
        <%end%>
      </div>
      <img src="https://c4.wallpaperflare.com/wallpaper/416/1015/597/house-md-characters-wallpaper-preview.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="4000">
      <div class="carousel-caption d-none d-md-block">
        <h3>Boss</h3>
        <br>
        <% if !logged_in? %>
          <h4>Are there any health problems? We will help you!!!</h4>
          <h4>You should log In to make an appointment !</h4>
        <%end%>
      </div>
      <img src="https://miro.medium.com/max/3840/1*zCw9YQICYZzozYZsqeIiYA.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="4000">
      <img src="https://images2.fanpop.com/images/photos/7900000/chase-cameron-forman-chameron-chase-and-cameron-7954028-1600-1063.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h3>Daily meeting</h3>
        <br>
        <% if !logged_in? %>
          <h4>Are there any health problems? We will help you!!!</h4>
          <h4>You should log In to make an appointment !</h4>
        <%end%>
      </div>
    </div>
    <div class="carousel-item" data-interval="4000">
      <div class="carousel-caption d-none d-md-block">
        <h3>Our job</h3>
        <br>
        <% if !logged_in? %>
          <h4>Are there any health problems? We will help you!!!</h4>
          <h4>You should log In to make an appointment !</h4>
        <%end%>
      </div>
      <img src="https://www.afterfiftyliving.com/wp-content/uploads/2019/03/dr-wronng.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="sr-only">Next</span>
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
